.timePicker-main {
  width: 100%;
  position: relative;
  margin-top: 5px;

  .inputCanvas {
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid darken($color: white, $amount: 5%);
    border-radius: 4px;
    cursor: pointer;
  }

  .timePicker {
    position: absolute;
    left: 0;
    top: 45px;
    width: unset;
    background-color: white;
    border: 1px solid darken($color: white, $amount: 5%);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 50px 50px;

    .time-slots {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s ease;

      &:hover {
        background-color: rgb(193, 243, 243);
        cursor: pointer;
      }

      &.disabled {
        color: rgb(189, 186, 186);
        cursor: default;

        &:hover {
          background-color: unset;
        }
      }
    }
  }
}

.placeholder {
  font-size: 16px;
  font-weight: bold;
  color: darken($color: white, $amount: 40%);
}

.timePicker-svg {
  svg {
    margin-top: 8px;
    path {
      fill: blueviolet;
    }
  }
}
