.datePicker-main {
  width: 100%;
  position: relative;

  .inputCanvas {
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid darken($color: white, $amount: 5%);
    border-radius: 4px;
    cursor: pointer;
  }
}

.placeholder {
  font-size: 16px;
  font-weight: bold;
  color: darken($color: white, $amount: 40%);
}

.datePicker-svg {
  svg {
    margin-top: 8px;
    path {
      fill: blueviolet;
    }
  }
}

.calenderPicker {
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  background-color: white;
  border: 1px solid darken($color: white, $amount: 5%);
  border-radius: 4px;
  z-index: 2;

  .calenderHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

    .left,
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .center {
      text-align: center;
      font-size: 14px;
      text-transform: capitalize;
    }
  }
}

.chevron-right {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    transform: rotateY(180deg);
  }
}

.calenderBody {
  padding: 5px;

  .date-info {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }

  .weekTitle {
    height: 35px;
    line-height: 35px;
    text-transform: capitalize;
  }

  .weekDays {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.active {
      background-color: rgb(193, 243, 243);
    }

    &.selected {
      color: white;
      background-color: rgb(1, 19, 19);
    }

    &.disabled {
      color: rgb(189, 186, 186);
      cursor: default;
    }
  }
}

.chevron-right-double,
.chevron-left-double {
  position: relative;
  .chevron:last-child {
    position: absolute;
    top: 0;
    left: 5px;
    background: transparent;
  }
}

.chevron-right-double {
  margin-right: 5px;
  transform: rotateY(180deg);
}
